<h3>Here's a post. This line is inside component post-tile.hbs</h3>

<li>{{#link-to 'post' post.id}}{{post.title}} by {{post.author}} {{/link-to}}</li>
<img src={{post.image}}>
<br>
{{update-post post=post update="update"}}
<button {{action 'delete' post}}>Delete this post</button>
